<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll Guess</title>
</head>
<body>
<h1>Please Guess a Number for the Dice Roll...</h1>
<h3><a th:href="@{/roll-dice/{guess}(guess=1)}">Guess 1</a></h3>
<h3><a th:href="@{/roll-dice/{guess}(guess=2)}">Guess 2</a></h3>
<h3><a th:href="@{/roll-dice/{guess}(guess=3)}">Guess 3</a></h3>
<h3><a th:href="@{/roll-dice/{guess}(guess=4)}">Guess 4</a></h3>
<h3><a th:href="@{/roll-dice/{guess}(guess=5)}">Guess 5</a></h3>
<h3><a th:href="@{/roll-dice/{guess}(guess=6)}">Guess 6</a></h3>
</body>
</html>